/*.todoh {*/
    /*position:absolute;*/
    /*top: 3%;*/
    /*left: 45%;*/
    /*font-family: Arial;*/
/*}*/
.line-through {
    text-decoration:line-through;
}


.flexbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 500px;

}

.button {
    flex-wrap: wrap-reverse;
}
.text{
    font-size: 15px;
}
